_WPPAutomatic.json
{"createdAt":"2023-04-03T13:31:25.104Z","updatedAt":"2023-04-03T13:37:40.123Z","id":"17","name":"WPPAutomatic","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"id":"0420a83d-3640-4291-99bf-09dedc9daaf5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[220,480]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"contacts\" (\"name\", \"identifier\", \"account_id\", \"created_at\", \"updated_at\", \"last_activity_at\") VALUES ('WPPConnect Control', 'control@wppconnect.io', {{ $json.account }}, NOW(), NOW(), NOW());","additionalFields":{}},"id":"78bc6130-c3ba-4325-a4f5-eb9da59c0461","name":"Cria o Contato","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[720,600],"alwaysOutputData":true,"credentials":{"postgres":{"id":"1","name":"Postgres account"}},"continueOnFail":true,"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO \"automation_rules\" (\"account_id\", \"name\", \"description\", \"event_name\", \"conditions\", \"actions\", \"created_at\", \"updated_at\", \"active\") VALUES ({{ $json.account }}, 'Start WPPConnect', 'Start Quepasa', 'message_created', '[{\"values\": [\"/qrcode\"], \"attribute_key\": \"content\", \"filter_operator\": \"contains\", \"custom_attribute_type\": \"\"}]', '[{\"action_name\": \"send_webhook_event\", \"action_params\": [\"http://localhost:5678/webhook/WPPConnect\"]}, {\"action_name\": \"send_webhook_event\", \"action_params\": [\"http://localhost:5678/webhook-test/WPPConnect\"]}]', '2023-03-10 14:20:34.326753', '2023-03-10 14:20:34.326753', 'true');","additionalFields":{}},"id":"7b1b5307-eb42-4682-ac03-c1225af3b591","name":"Cria Automação","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[720,380],"alwaysOutputData":true,"notesInFlow":false,"credentials":{"postgres":{"id":"1","name":"Postgres account"}},"continueOnFail":true,"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"automation_rules\" ON \"accounts\".\"id\" = \"automation_rules\".\"account_id\" AND \"automation_rules\".\"name\" = 'Start WPPConnect' WHERE \"automation_rules\".\"name\" IS NULL;","additionalFields":{}},"id":"ad40dd17-b756-49ea-8336-ec5e186350d2","name":"Missing Automations","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[480,380],"alwaysOutputData":true,"credentials":{"postgres":{"id":"1","name":"Postgres account"}},"continueOnFail":true,"notes":"Sucesso"},{"parameters":{"operation":"executeQuery","query":"=SELECT \"accounts\".\"id\" AS \"account\" FROM \"accounts\" LEFT JOIN \"contacts\" ON \"accounts\".\"id\" = \"contacts\".\"account_id\" AND \"contacts\".\"identifier\" = 'control@wppconnect.io' WHERE \"contacts\".\"identifier\" IS NULL;","additionalFields":{}},"id":"d6372dc6-ff6b-4b6a-b983-04a4a878a5b3","name":"Missing Quepasa Contact","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[480,600],"alwaysOutputData":true,"credentials":{"postgres":{"id":"1","name":"Postgres account"}},"continueOnFail":true,"notes":"Sucesso"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Missing Automations","type":"main","index":0},{"node":"Missing Quepasa Contact","type":"main","index":0}]]},"Missing Automations":{"main":[[{"node":"Cria Automação","type":"main","index":0}]]},"Missing Quepasa Contact":{"main":[[{"node":"Cria o Contato","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"60d4f947-7058-4b58-be78-a3279282ef4e","triggerCount":1,"tags":[]}