_WPPConnectQrcode.json
{"createdAt":"2023-03-28T11:10:52.383Z","updatedAt":"2023-04-08T14:33:42.831Z","id":"13","name":"WPPConnectQrcode","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"CHAVE_DO_CANAL","value":"={{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}"},{"name":"INDEX_ID","value":"={{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}"},{"name":"ACCOUNT_ID","value":"={{ $node[\"Colocando Dados\"].json[\"ACCOUNT_ID\"] }}"}]},"options":{}},"name":"Executa Requisão do WPPConnect","type":"n8n-nodes-base.set","typeVersion":1,"position":[-880,-120],"id":"fc4f04ca-cbff-4c04-8004-5f0047cdca57"},{"parameters":{"requestMethod":"POST","url":"=https://{{ $node[\"Colocando Dados\"].json[\"URL WPPConnect\"] }}/api/{{ $json.session }}/start-session","jsonParameters":true,"options":{},"bodyParametersJson":"={{ { \"webhook\": null, \"waitQrCore\": true, \"chatWoot\": {\"enable\": true, \"baseURL\": \"https://sender.socialatendimento.com.br\", \"token\": $node[\"Forma Requisão WPPConnect\"].json[\"CHATWOOT_TOKEN\"], \"inbox_id\": $node[\"Executa Requisão do WPPConnect\"].json[\"INDEX_ID\"], \"account_id\": $node[\"Executa Requisão do WPPConnect\"].json[\"ACCOUNT_ID\"] } } }}","headerParametersJson":"={{ {\"Authorization\": \"Bearer \" + $json[\"token\"]} }}"},"name":"Iniciar canal WPPConnect","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[-1660,80],"id":"62ba0584-35de-4553-a289-4fbaa54142e3"},{"parameters":{"url":"=https://{{ $node[\"Colocando Dados\"].json[\"URL WPPConnect\"] }}/api/{{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}/status-session","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"=Bearer {{ $node[\"Gera o Token\"].json[\"token\"] }}"}]},"options":{}},"id":"c214d398-114b-4083-ab10-5ba7da5ccc22","name":"Gera Imagem Qrcode","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-1220,80]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"URL FORMADA","value":"=https://{{ $node[\"Colocando Dados\"].json[\"URL WPPConnect\"] }}/api/{{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}/chatwoot"}]},"options":{}},"id":"0e7390bb-7233-4765-81d8-159745a64fc6","name":"FORMADA URL","type":"n8n-nodes-base.set","typeVersion":1,"position":[-780,80]},{"parameters":{"operation":"executeQuery","query":"=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $json[\"ACCOUNT_ID\"] }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;","additionalFields":{}},"id":"5288f07a-e65b-488d-bbc3-88307e1bc2f4","name":"Informa UToken","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-1300,-120],"alwaysOutputData":true,"credentials":{"postgres":{"id":"1","name":"Postgres account"}}},{"parameters":{"values":{"string":[{"name":"URL Chatwoot","value":"sender.socialatendimento.com.br"},{"name":"URL WPPConnect","value":"wppconnect.socialatendimento.com.br"},{"name":"KEY WPPConnect","value":"b7c2d30bd04af6f541dbcd9de7457b31"},{"name":"NUMERO DO INBOX","value":"={{ $json.body.contact_inbox.inbox_id }}"},{"name":"ACCOUNT_ID","value":"={{ $json.body.messages[0].account_id }}"}]},"options":{}},"id":"dcf40ded-614a-4ec6-83df-9488ab7b8971","name":"Colocando Dados","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1520,-120]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CHATWOOT_TOKEN","value":"={{ $json.utoken }}"},{"name":"WPPCONNECT_KEY","value":"={{ $node[\"Colocando Dados\"].json[\"KEY WPPConnect\"] }}"}]},"options":{}},"name":"Forma Requisão WPPConnect","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1100,-120],"id":"27108fef-8212-4724-86dc-f525bc496524"},{"parameters":{"method":"POST","url":"=https://{{ $node[\"Colocando Dados\"].json[\"URL WPPConnect\"] }}/api/{{ $json[\"CHAVE_DO_CANAL\"] }}/{{ $json[\"WPPCONNECT_KEY\"] }}/generate-token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"209a0436-8232-403b-bb55-6b1bf352be9b","name":"Gera o Token","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-680,-120]},{"parameters":{"httpMethod":"POST","path":"WPPConnect","options":{}},"id":"c698e8ff-3856-4748-a9ed-4ed28d762097","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1760,-120],"webhookId":"e8d38d79-8f79-4bd1-85f8-fce3d8200233"},{"parameters":{"operation":"executeQuery","query":"=UPDATE \"public\".\"channel_api\" SET \"webhook_url\"='{{ $node[\"FORMADA URL\"].json[\"URL FORMADA\"] }}' WHERE \"id\"='{{ $node[\"Informa Identifier\"].json[\"channel_id\"] }}';","additionalFields":{}},"id":"75729c53-daf3-47a5-b852-965822407820","name":"Atualiza Webhook","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-1100,300],"alwaysOutputData":true,"credentials":{"postgres":{"id":"1","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{ $node[\"Colocando Dados\"].json[\"ACCOUNT_ID\"] }}' AND \"public\".\"inboxes\".\"id\" = '{{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}';","additionalFields":{}},"id":"2d8ddb37-b7cf-4884-af40-17802fc47ffc","name":"Informa Identifier","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[-1300,300],"alwaysOutputData":true,"credentials":{"postgres":{"id":"1","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=https://{{ $node[\"Colocando Dados\"].json[\"URL Chatwoot\"] }}/api/v1/accounts/{{ $node.Webhook.json.body.messages[0].account_id }}/conversations/{{ $node.Webhook.json.body.messages[0].conversation_id }}/messages ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $node[\"Informa UToken\"].json[\"utoken\"] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"=✅ Qrcode escaneado com sucesso!\n\n✅ Sistema Pronto para Usar\n"},{"name":"message_type","value":"incoming"},{"name":"private","value":"true"}]},"options":{}},"id":"d374b884-0159-4fb5-afd9-d40ebe9f2a22","name":"Envia Mensagem De Conectado","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-1540,300]},{"parameters":{"url":"=https://{{ $node[\"Colocando Dados\"].json[\"URL WPPConnect\"] }}/api/{{ $node[\"Colocando Dados\"].json[\"NUMERO DO INBOX\"] }}/qrcode-session","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"=Bearer {{ $node[\"Gera o Token\"].json[\"token\"] }}"}]},"options":{}},"id":"8cd1e1d7-d251-4c5f-ab19-8d0431fe5cab","name":"Formata Imagem","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-1000,80]},{"parameters":{"amount":40,"unit":"seconds"},"id":"6e4ba3a7-6e17-4d51-ba8d-de6e18c6456a","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-1420,80],"webhookId":"65b9623f-201e-46df-90f3-3d04f23c8047"}],"connections":{"Executa Requisão do WPPConnect":{"main":[[{"node":"Gera o Token","type":"main","index":0}]]},"Iniciar canal WPPConnect":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Gera Imagem Qrcode":{"main":[[{"node":"Formata Imagem","type":"main","index":0}]]},"Informa UToken":{"main":[[{"node":"Forma Requisão WPPConnect","type":"main","index":0}]]},"Colocando Dados":{"main":[[{"node":"Informa UToken","type":"main","index":0}]]},"Forma Requisão WPPConnect":{"main":[[{"node":"Executa Requisão do WPPConnect","type":"main","index":0}]]},"Gera o Token":{"main":[[{"node":"Iniciar canal WPPConnect","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Colocando Dados","type":"main","index":0}]]},"FORMADA URL":{"main":[[{"node":"Envia Mensagem De Conectado","type":"main","index":0}]]},"Informa Identifier":{"main":[[{"node":"Atualiza Webhook","type":"main","index":0}]]},"Envia Mensagem De Conectado":{"main":[[{"node":"Informa Identifier","type":"main","index":0}]]},"Formata Imagem":{"main":[[{"node":"FORMADA URL","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Gera Imagem Qrcode","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a4751967-de3f-4c56-8c22-0fa49a34a8f7","triggerCount":1,"tags":[{"createdAt":"2023-04-03T13:07:15.934Z","updatedAt":"2023-04-03T13:07:15.934Z","id":"6","name":"WPPCONNECT"},{"createdAt":"2023-03-27T10:16:36.815Z","updatedAt":"2023-03-27T10:16:36.815Z","id":"4","name":"EngajamentoFlow"}]}